.cont-img-contacto{
    height: 40vh;
    max-width: 100%;
    padding: 0;
}

img{
    height: 100%;
    width: 100%;
}

.redes-contacto{
    color: black;
}

.redes-contacto:hover{
    font-size: 20px;
}