.imagen-entrada{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.subrayado{
    text-decoration: underline;
}

.comentario-img{
    height: 50px;
    border-radius: 50px;
}

.video { 
    aspect-ratio: 16 / 9; width: 100%; 
}